body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.main {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
}

.search input, .add input, .add button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

ul {
    list-style: none;
    padding: 0;
}

li.task-item {
    background-color: #fff;
    margin: 5px auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addTask {
    width: 84%;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-text .highlight {
    background-color: yellow;
    font-weight: bold;
}

.task-text {
    flex-grow: 1;
    margin-right: 10px;
}

.task-deadline {
    width: 170px;
    margin: 5px;
}