h1{
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
p{

}
.regatta{
    display: flex;
}
.list{
    flex:50%;
}
.his_part{
    display: flex;
}
.history_image{
    flex:50%;
}
.history{
    margin: 0;
    background-color: whitesmoke;
    border: dimgray;
}
.banner{
    background-image: url("banner.jpg");
    resize: vertical;
}
footer{
    text-align: center;
}
.desc{
    display: flex;
}
.about{
    flex: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.end{
    background-color: whitesmoke;
    background-size: 100% 100px;

}