h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
p{
    text-align: center;
}
.regatta{
    display: flex;
}
.list{
    flex:50%;
}

.history{
    display: flex;
    padding:30px 0;
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}


.history_block{
    flex: 50%;

}
footer{
    text-align: center;
}
.desc{
    display: flex;
    background-color: whitesmoke;
    padding:30px 0;

    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}
.about{
    flex: 50%;
}
.end{
    background-color: whitesmoke;
    background-size: 100% 100px;
    text-align: center;
}
.banner_image{
    background-image: url(banner.jpg);
    height: 500px;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    position: relative;

    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}
.zawody{
    padding:30px 0;

    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}
